%h1 Log

%table.table.table-striped
  %thead
    %tr
      %td
        Tour
      %td
        Message

  %tbody
    - @events.each do |e|
      %tr
        %td
          = e.turn
        %td
          = log_message( e )

= will_paginate @events, renderer: BootstrapPagination::Rails