#board
  - @cities.each do |city|
    .token.prof-fake-position.prof-nyog-positions{ style: token_style( city ), city_id: city.id }

#infos
  #investigator
    = t( '.info' )
    %br
    = submit_tag :valider, id: 'game-board-creation-button'

    .drag-drop-icons.professor
      = image_tag( 'tokens/professor.jpg', class: 'drag-drop-pic' )

    .drag-drop-icons.nyog-sothep
      = image_tag( 'tokens/nyogsothep.jpg', class: 'drag-drop-pic' )