// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

#infos
  float: left
  position: fixed
  left: 1250px
  border: solid 1px saddlebrown

#investigator
  height: 100px

#weapon-enabled
  float: left
  height: 86px
  width: 86px
  background-image: url( 'tokens/weapon.jpg' )

#weapon-disabled
  @extend #weapon-enabled
  opacity: 0.10

#sign-disabled
  @extend #weapon-disabled
  background-image: url( 'tokens/sign.jpg' )

#medaillon-disabled
  @extend #weapon-disabled
  background-image: url( 'tokens/medaillon.jpg' )

#spell-disabled
  @extend #weapon-disabled
  background-image: url( 'tokens/nyogsothep.jpg' )

#sign-enabled
  @extend #weapon-enabled
  background-image: url( 'tokens/sign.jpg' )

#medaillon-enabled
  @extend #weapon-enabled
  background-image: url( 'tokens/medaillon.jpg' )

#spell-enabled
  @extend #weapon-enabled
  background-image: url( 'tokens/nyogsothep.jpg' )

#board
  width: 1205px
  height: 1437px
  background-image: url('map.jpg')
  float: left

#token
  width: 45px
  height: 44px
  position: absolute
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7)

.dest-road
  width: 65px
  height: 46px
  position: absolute
  background-image: url('tokens/old_car.png')

.dest-water
  width: 60px
  height: 65px
  position: absolute
  background-image: url('tokens/boat.png')


