.menu
  = link_to 'GameBoard', g_game_boards_url
  - if @game_board
    |
    = link_to 'Map', g_game_board_play_url( @game_board )
    |
    = link_to 'Log', g_game_board_log_index_url( @game_board )
    |
    = link_to 'Ia', ia_show_g_game_board_professor_actions_url( @game_board )